@import '/src/styles/variables';

:host {
  .page-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $fake-store-primary-color;
    flex-direction: column;

    .content {
      display: flex;
    }

    .message {
      font-size: 30px;
    }
  }
}
