@import '/src/styles/variables';

.page-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $fake-store-primary-color;
}

.message {
  font-size: 30px;
}

.store-container {
  display: flex;
  flex-direction: row;
  gap: 32px;

  .store-product {
    border: 1px solid black;
    padding: 16px;
  }
}
